<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Читательский дневник</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <script src="https://telegram.org/js/telegram-web-app.js?58"></script>
</head>
<body>
  <!-- Шапка -->
  <header class="navbar">
    <div class="navbar-top">
      <div class="logo">📚 Читательский дневник</div>
      <h1 id="username" class="username">Загрузка...</h1>
    </div>
    <button id="logoutBtn">Выйти</button>
  </header>

  <!-- Контейнер для карточек -->
    <main class="book-list" id="bookList">
    <!-- Здесь будут появляться карточки книг -->
    </main>

  <!-- Модальное окно -->
    <div id="modal" class="modal">
    <div class="modal-content">

        <!-- Кнопка закрытия -->
        <span onclick="closeModal()" class="close">&times;</span>

        <!-- Обложка книги -->
        <img id="modal-image" class="modal-book-image" src="" alt="Обложка книги" />

        <!-- Название -->
        <h2 id="modal-title"></h2>

        <!-- Автор -->
        <p><strong>Автор:</strong> <span id="modal-author"></span></p>

        <!-- Серая полоска -->
        <div class="divider"></div>

        <!-- Описание -->
        <p id="modal-description"></p>

        <!-- Серая полоска -->
        <div class="divider"></div>

        <!-- Рейтинг -->
        <div id="modal-rating" class="rating"></div>

        <!-- Кнопки управления -->
        <div class="modal-actions">
            <button id="editBookBtn">Редактировать</button>
            <button id="deleteBookBtn">Удалить</button>
        </div>

    </div>
    </div>


  <script src="../static/js/account.js"></script>
</body>
</html>