<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Авторизация</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <script src="https://telegram.org/js/telegram-web-app.js?58"></script>
</head>
<body>
  <!-- Шапка -->
  <header class="navbar">
    <div class="logo">📚 Читательский дневник</div>
  </header>

  <!-- Форма авторизации -->
  <main class="auth-container">
    <h2 id="mode-title">Авторизация</h2>

    <form id="loginForm">
      <input type="text" id="username" placeholder="Логин" required />
      <input type="password" id="password" placeholder="Пароль" required />

      <button type="submit" class="submit-btn">Войти</button>
    </form>

    <p class="switch-mode" onclick="window.location.href='register.html'">
      Нет аккаунта? Зарегистрируйтесь
    </p>
  </main>

  <script src="/client/static/js/login.js"></script>
</body>
</html>